header{
    background-color: #b376a3;
}

h1{
    text-align: center;
    color: #ffff1a;
    text-transform: uppercase;
}

h2{
    color: #cc0066;
    text-transform: uppercase;
}

section {
    background-color: #ffccee;
}

a{
    text-align: center;
    background-color: #ffff1a;
    color: #b30000;
}

img{
    display: none;
}
